@import url("../BasicStyle/palette.css");

/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", monospace;
    font-style: normal;
    color: var(--text-color);
}

body {
    background-color: var(--background);
}

.topbar {
    display: flex;
    justify-content: space-between; /* Separa el logo a la izquierda y los botones a la derecha */
    align-items: center; /* Alinea verticalmente el contenido de la barra */
    background-color: transparent;
    padding: 15px;
}

.Logo {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--primary-color);
}

.content {
    text-align: center;
    margin-top: 20px;
}

.topbar .button {
    padding: 0.7em 3em;
    margin: 0 1em;
}