.Search-files {
    margin: 40px;
}

.container {
    display: flex;
    width: 100%;
    height: 40px;
    margin-right: 20%;
    gap: 1rem;
    margin: 20px 0;
}

.Search-files .input-text {
    flex-grow: 1; /* hace que el input ocupe el espacio disponible*/
    width: auto;
}

.filters form {
    display: flex;
    width: 100%;
    gap: 1rem;
}

.file-list {
    width: 100%;
    margin-top: 1em;
    border-collapse: collapse;
}

.file-list table {
    width: 100%;
}

.file-list th,
.file-list td {
    padding: 12px;
    text-align: left;
}

.file-list th {
    background-color: var(--background);
    border-bottom: 2px solid var(--second-background);
}

.file-list td {
    border-bottom: 10px solid var(--background);
    padding-left: 10px;
}

.file-list tr:hover {
    background-color: var(--textbox-background);
}

.folder-list {
    margin-top: 20px;
    width: 95%;
}

.folder-item {
    color: var(--text-color);
    display: flex;
    padding: 20px;
    border-left: 10px solid transparent;
    border-bottom: 1px solid var(--second-background);
    border-radius: 8px;
    gap: 10px;
    margin-bottom: 20px;
}

.folder-item:hover {
    border-left: 10px solid var(--primary-color);
    background-color: var(--select-background);
}

.folder-item:hover .folder-buttons {
    display: block;
}

.folder-item .title {
    display: flex;
    gap: 10px;
    margin: 10px 0px;
}

.folder-item .title .date {
    color: var(--unselect-text);
}

.folder-info {
    flex: 1;
}

.folder-buttons {
    display: none;
    align-content: center;
}

.folder-buttons .button {
    margin-left: 15px;
}

.drop-menu-container {
    position: relative;
    display: inline-block;
}

.drop-menu {
    display: none;
    position: absolute;
    top: 20px;
    left: 60px;
    background-color: var(--textbox-background);
    border: 3px solid var(--background);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.drop-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.drop-menu ul li {
    padding: 8px 12px;
    cursor: pointer;
}

.drop-menu ul li .Delete {
    color: var(--delete-color);
}

.drop-menu ul li a {
    text-decoration: none;
    color: var(--text-color);
}

.drop-menu ul li:hover {
    background-color: var(--second-background);
}

dialog {
    background-color: var(--background);
    border: solid 2px var(--second-background);
    color: var(--text-color);
    text-align: center;
    margin: auto;
    width: 50%;
    border-radius: 8px;
    text-align: center;
    overflow: hidden;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Estilos para el diálogo */

dialog[open] {
    scale: 1;
    transition: scale 0.3s ease-in-out;

    @starting-style {
        scale: 0;
    }
}

.dialog-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
}

.dialog-content .title {
    font-size: 32px;
    font-weight: 500;
}

.dialog-content .subtitle {
    text-align: start;
    font-size: 16px;
    font-weight: 500;
}

.dialog-content .tag-section {
    display: flex;
    gap: 10px;
}

.dialog-content .tags {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    min-height: 30px;
    border: 2px solid var(--second-background);
    border-radius: 8px;
}

.dialog-content .tags .tag {
    display: flex;
}

.add-tag {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 8px;
    align-items: start;
    border: 2px solid var(--second-background);
}

.select-tag {
    display: flex;
    width: 100%;
    padding-bottom: 40px;
}

.new-tag {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
}

.create-tag {
    display: flex;
    gap: 10px;
}

.existing-tag {
    display: flex;
    gap: 10px;
    flex-direction: column;
    border-left: 2px solid var(--second-background);
    padding-left: 20px;
    margin-left: 20px;
}

.tag-button-add {
    margin-left: 10px;
    height: 50px;
}
