.Search-files {
    margin: 40px;
}

.container {
    display: flex;
    width: 100%;
    height: 40px;
    margin-right: 20%;
    gap: 1rem;
    margin: 20px 0;
}

.Search-files .input-text {
    flex-grow: 1; /* hace que el input ocupe el espacio disponible*/
    width: auto;
}

.filters-hidden {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.filters-show {
    max-height: 500px;
    overflow: hidden;
    transition: max-height 1s ease;
}

.filters form {
    display: flex;
    width: 100%;
    gap: 1rem;
}

.file-list {
    width: 100%;
    margin-top: 1em;
    border-collapse: collapse;
}

.file-list table {
    width: 100%;
}

.file-list th,
.file-list td {
    padding: 12px;
    text-align: left;
}

.file-list th {
    background-color: var(--background);
    border-bottom: 2px solid var(--second-background);
}

.file-list td {
    border-bottom: 10px solid var(--background);
    padding-left: 10px;
}

.file-list tr:hover {
    background-color: var(--textbox-background);
}

/* ------------------------------------------- */

.folder-list {
    width: 100%;
}

.folder-item {
    color: var(--text-color);
    display: flex;
    border-radius: 8px;
    gap: 10px;
    margin-bottom: 20px;
}

.folder-item .primary-button {
    width: 10px;
    padding: 0;
    overflow: hidden;
    transition: width 0.8s ease;
    border-radius: 0px;
    border-radius: 8px 0px 0px 8px;
}

.folder-item .primary-button svg {
    opacity: 0;
}

.folder-item:hover .primary-button {
    width: 80px;
    transition: width 0.8s ease;
}

.folder-item:hover .primary-button svg {
    opacity: 1;
    transition: opacity 0.8s ease;
}

.folder-Container {
    display: flex;
    width: 100%;
    padding: 15px;
}

.folder-item:hover {
    background-color: var(--select-background);
}

.folder-item:hover .folder-buttons {
    display: block;
}

.folder-item .title {
    margin: 0px 0px 10px 0px;
}

.folder-item .title .name {
    font-size: 25px;
}

.folder-item .title .date {
    font-size: 15px;
    margin-top: auto;
    color: var(--unselect-text);
}

.folder-info {
    flex: 1;
}

.folder-buttons {
    display: none;
    align-content: center;
}

/* ------------------------------------------- */

.drop-menu-container {
    position: relative;
    display: inline-block;
}

.drop-menu {
    display: none;
    position: absolute;
    top: 20px;
    left: 60px;
    background-color: var(--textbox-background);
    border: 3px solid var(--background);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.drop-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.drop-menu ul li {
    padding: 8px 12px;
    cursor: pointer;
}

.drop-menu ul li .Delete {
    color: var(--delete-color);
}

.drop-menu ul li a {
    text-decoration: none;
    color: var(--text-color);
}

.drop-menu ul li:hover {
    background-color: var(--second-background);
}

dialog {
    background-color: var(--background);
    border: solid 2px var(--second-background);
    color: var(--text-color);
    margin: auto;
    width: 50%;
    border-radius: 8px;
    overflow: hidden;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Estilos para el diálogo */

dialog[open] {
    scale: 1;
    transition: scale 0.3s ease-in-out;

    @starting-style {
        scale: 0;
    }
}

.dialog-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
}

.dialog-content .title {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
}

.dialog-content .input {
    padding: 0px;
}

.dialog-content .input .input-text {
    width: 100%;
}

.dialog-content .subtitle {
    text-align: start;
    font-size: 16px;
    font-weight: 500;
    margin-left: 5px;
}

.dialog-content .tag-section {
    display: flex;
    gap: 20px;
    margin-left: 5px;
}

.dialog-content .tags {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    min-height: 50px;
    border: 2px solid var(--second-background);
    border-radius: 8px;
}

.dialog-content .tags .tag {
    display: flex;
}

.add-tag {
    display: flex;
    flex-direction: column;
}

.new-tag {
    display: flex;
    gap: 10px;
    width: 100%;
}

.searchTag {
    width: 100%;
    position: relative;
}

.searchTag .select-menu {
    top: 100%;
}

.tag-button-add {
    margin-left: 5px;
}

.buttonContainer {
    display: flex;
    gap: 20px;
    margin: auto;
}

.buttonContainer .button {
    width: 300px;
}