@import url("../BasicStyle/palette.css");

* {
    /* Reset CSS */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", monospace;
    font-style: normal;
    color: var(--text-color);
}

body {
    background-color: var(--background);
}

.form h1 {
    margin: 1em 0;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    padding: 15px;
    width: 100%;
}

form {
    width: 50%;
}

    form .input-text {
        margin: 1em 0;
        width: 100%;
    }

form .button {
    font-size: 16px;
    margin: 20px 0;
    width: 30%;
}

form a {
    color: var(--link-color);
    text-decoration: underline;
}

.error-message {
    min-height: 50px;
    text-align: center;
    align-content: center;
    font-weight: 600;
    background-color: var(--error-color);
    color: var(--text-color-light);
    margin-top: 2em;
    border-radius: 8px;
}
