.user-setting {
    margin: 40px;
}

.settings {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    gap: 15px;
}

.setting-buttons {
    display: flex;
    margin-top: auto;
    gap: 1rem;
    justify-content: flex-end;
}

.setting-password {
    display: flex;
    gap: 1rem;
}

.setting-password .input-text {
    flex: 1;
}

.settings .input-text {
    display: block;
}

.settings .delete-account {
    background-color: transparent;
    margin: 10px 0px;
    padding: 10px;
}

.settings .delete-account a {
    text-decoration: none;
    color: var(--delete-color);
    opacity: 0.8;
}

.settings .delete-account:hover a {
    cursor:pointer;
    opacity: 1;
}

.input-password {
    display: flex;
}

.input-password .input-text {
    border-radius: 4px 0px 0px 4px;
}

.view-password {
    background-color: var(--second-background);
    border: none;
    border-radius: 0px 4px 4px 0px;
    padding: 0px 10px;
    cursor: pointer;
}

.view-password .icon-tabler-eye-off {
    color: var(--unselect-text);
}

.view-password .icon-tabler-eye {
    color: var(--primary-color);
}

.hidden-svg {
    display: none;
}