.user-setting {
    margin: 40px;
}

.settings {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    gap: 15px;
}

.setting-buttons {
    display: flex;
    margin-top: auto;
    gap: 1rem;
    justify-content: flex-end;
}

.setting-password {
    display: flex;
    gap: 1rem;
}

.setting-password .input-text {
    flex: 1;
    width: 50%;
}

.settings .input-text {
    display: block;
}


.settings .delete-account {
    background-color: transparent;
    margin: 10px 0px;
    padding: 10px;
}

.settings .delete-account a {
    text-decoration: none;
    color: var(--delete-color);
    opacity: 0.7;
}

.settings .delete-account:hover a {
    cursor:pointer;
    opacity: 1;
}

