@using Presentation.web.Models.ViewModels
@model FolderViewModel;

@{
    ViewData["Title"] = "My Folders";
    Layout = "_LayoutHome";
}

<div class="Search-files">
    <h1>Folders</h1>
    <div class="container">

        <input class="input-text" type="text" placeholder="Search" />

        <!--  folder creation  -->
        <button id="createFolderOpenDialogBtn" class="button primary-button">New Folder</button>
        <dialog id="createFolderDialog">
            <span class="close" id="closeDialogBtn" hidden></span>
            @await Html.PartialAsync("_CreateFolder", Model)    
        </dialog>

        <button id="filtersBtn" class="button transparent-button">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="24"
                 height="24"
                 viewBox="0 2 24 24"
                 fill="none"
                 stroke="currentColor"
                 stroke-width="2"
                 stroke-linecap="round"
                 stroke-linejoin="round"
                 class="icon icon-tabler icons-tabler-outline icon-tabler-filter-cog">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M12 20l-3 1v-8.5l-4.48 -4.928a2 2 0 0 1 -.52 -1.345v-2.227h16v2.172a2 2 0 0 1 -.586 1.414l-4.414 4.414v1.5" />
                <path d="M19.001 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                <path d="M19.001 15.5v1.5" />
                <path d="M19.001 21v1.5" />
                <path d="M22.032 17.25l-1.299 .75" />
                <path d="M17.27 20l-1.3 .75" />
                <path d="M15.97 17.25l1.3 .75" />
                <path d="M20.733 20l1.3 .75" />
            </svg>
        </button>
    </div>

    <div id="filtersContainer" class="filters filters-hidden">
        @await Html.PartialAsync("_FilteredFolderList", Model)
    </div>

    <div class="folder-list">
        <form id="deleteFolderForm" asp-controller="Folders" asp-action="DeleteFolder" method="post">
            <input id="deleteFolderId" type="text" name="FolderId" value="" asp-for="FolderId" hidden />
        </form>
        <form id="viewFolderPageForm" asp-controller="Folders" asp-action="ViewFolderPages" method="post">
            <input id="viewdFolderId" type="text" name="FolderId" value="" asp-for="FolderId" hidden />
        </form>
        <dialog id="updateFolderDialog">
            <span class="close" id="closeDialogBtn" hidden></span>
            @await Html.PartialAsync("_UpdateFolder", Model)
        </dialog>
        @await Html.PartialAsync("_FolderList",Model.Folders)
    </div>

</div>

<script src="~/js/customSelectInteractive.js"></script>
<script type="module" src="~/js/ViewScript/createFolderDialog.js"></script>
<script type="module" src="~/js/ViewScript/updateFolderDialog.js"></script>

<script src="/js/ViewScript/FolderViewScript.js"></script>
<script src="~/js/folderFilters.js"></script>
<script src="~/js/drop-menu.js"></script>
<script src="~/js/BasicScript/warningPopUp.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>