<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/BasicStyle/componentsStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ViewStyle/landingStyle.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="topbar">
            <!-- Left side -->
            <a class="Logo" asp-controller="Landing" asp-action="Index">NoteSync</a>
            <!-- Right side -->
            <div>
                <button class="button primary-button" onclick="location.href='@Url.Action("Register", "Access")'">Sign up</button>
                <button class="button primary-button" onclick="location.href='@Url.Action("Login", "Access")'">Sign in</button>
            </div>
        </nav>
    </header>
    <div class="content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
