@{
    ViewData["Title"] = "Login";
}

<div class="container text-center ">
    <h1>Sing in</h1>
    <br>
    <input class="form-control btn-dark" type="email" placeholder="Correo">
    <br>
    <input class="form-control btn-dark" type="password" placeholder="Password">
    <br>
    <input class="btn btn-primary" type="submit" value="Sign in">

</div>
