@{
    ViewData["Title"] = "My Files";
    Layout = "_LayoutHome";
}

<div class="Search-files">
    <h1>Files</h1>
    <div class="container">
        <input class="input-text" type="text" placeholder="Search" />
        <button id ="openModalBtn" class="button primary-button">New file</button>
        <dialog id="myDialog">
            <span class="close" id="closeDialogBtn" hidden></span>
            <form class="dialog-content">
                <div class="title">New folder</div>
                <div class="input">
                    <input type="text"
                           id="folderName"
                           class="input-text"
                           name="name"
                           placeholder="Name"
                           autocomplete="off" />
                    <div id="folderNameMessage" class="input-message" role="alert"></div>
                </div>
                <div class="subtitle">Add tag:</div>
                <div class="add-tag" id="addTag">
                    <div class="new-tag">
                        <div class="searchTag">
                            <div class="input">
                                <input id="tagName"
                                       class="input-text"
                                       type="text"
                                       placeholder="Tag name"
                                       autocomplete="off" />
                            </div>

                            <ul class="select-menu">
                                <li data-value="tag">
                                    <div class="tag" style="--tag-color: #ff8c00">To do</div>
                                </li>
                                <li data-value="tag">
                                    <div class="tag" style="--tag-color: #fff">Programming</div>
                                </li>
                                <li data-value="tag">
                                    <div class="tag" style="--tag-color: #a5eeff">In Process</div>
                                </li>
                                <li data-value="tag">
                                    <div class="tag" style="--tag-color: #87e69a">Finish</div>
                                </li>
                            </ul>
                        </div>
                        <input id="tagColor" value="#ff0000" type="color" />
                        <button id="addTagBtn" class="button primary-button" type="button">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="18"
                                 height="18"
                                 viewBox="2 0 20 20"
                                 fill="none"
                                 stroke="currentColor"
                                 stroke-width="2"
                                 stroke-linecap="round"
                                 stroke-linejoin="round"
                                 class="icon icon-tabler icons-tabler-outline icon-tabler-plus">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M12 5l0 14" />
                                <path d="M5 12l14 0" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="tag-section">
                    <div id="tagsContainer" class="tags"></div>
                </div>
                <div class="buttonContainer">
                    <button id="saveBtn" class="button primary-button" type="submit" disabled>Guardar</button>
                    <button id="CancelBtn" class="button primary-button" type="button">Cancelar</button>
                </div>
            </form>
        </dialog>
        <button id="filtersBtn" class="button transparent-button">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="24"
                 height="24"
                 viewBox="0 2 24 24"
                 fill="none"
                 stroke="currentColor"
                 stroke-width="2"
                 stroke-linecap="round"
                 stroke-linejoin="round"
                 class="icon icon-tabler icons-tabler-outline icon-tabler-filter-cog">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M12 20l-3 1v-8.5l-4.48 -4.928a2 2 0 0 1 -.52 -1.345v-2.227h16v2.172a2 2 0 0 1 -.586 1.414l-4.414 4.414v1.5" />
                <path d="M19.001 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                <path d="M19.001 15.5v1.5" />
                <path d="M19.001 21v1.5" />
                <path d="M22.032 17.25l-1.299 .75" />
                <path d="M17.27 20l-1.3 .75" />
                <path d="M15.97 17.25l1.3 .75" />
                <path d="M20.733 20l1.3 .75" />
            </svg>
        </button>
    </div>

    <div id="filtersContainer" class="filters filters-hidden">
        <form id="filterForm" action="/Files/ApplyFilter" method="post">
            <div class="custom-select">
                <div class="select">
                    <span class="selected">Recent Documents</span>
                    <div class="caret"></div>
                </div>
                <ul class="select-menu">
                    <li class="active" data-value="recent">Recent Documents</li>
                    <li data-value="alphabetical-asc">Alphabetical (A-Z)</li>
                    <li data-value="alphabetical-desc">Alphabetical (Z-A)</li>
                    <li data-value="date-created-newest">Date Created (Newest First)</li>
                    <li data-value="date-created-oldest">Date Created (Oldest First)</li>
                    <li data-value="date-modified-newest">Date Modified (Newest First)</li>
                    <li data-value="date-modified-oldest">Date Modified (Oldest First)</li>
                </ul>
            </div>
            <input type="hidden" id="SortSelectedValue" name="SortSelectedValue" value="recent" />
            <div class="custom-select">
                <div class="select">
                    <span class="selected"><div class="tag" style="">All</div></span>
                    <div class="caret"></div>
                </div>
                <ul class="select-menu">
                    <li class="active" data-value="tag">
                        <div class="tag">All</div>
                    </li>
                    <li data-value="tag">
                        <div class="tag" style="background-color: brown">To do</div>
                    </li>
                    <li data-value="tag">
                        <div class="tag" style="background-color: chocolate">In progress</div>
                    </li>
                    <li data-value="tag"><div class="tag" style="background-color: darkcyan">Finish</div></li>
                    <li data-value="tag">
                        <div class="tag" style="background-color: cornflowerblue">Math</div>
                    </li>
                    <li data-value="tag">
                        <div class="tag" style="background-color: cadetblue">Programming</div>
                    </li>
                </ul>
            </div>
            <input type="hidden" id="TagSelectedValue" name="tagSelectedValue" value="recent" />
        </form>
    </div>

    <div class="folder-list">
        @for (int i = 0; i < 5 ;i++)
        {

            <div class="folder-item">
                <div class="folder-info">
                    <div class="title">
                        <div class="name">Documento de Prueba</div>
                         - 
                        <div class="date">10/17/2024</div>
                    </div>
                    <div class="tags">
                        <div class="tag" style="--tag-color: #8b5a2b">In progress</div>
                        <div class="tag" style="--tag-color: #5f9ea0">Completed</div>
                        <div class="tag" style="--tag-color: #6b8e23">Pending</div>
                    </div>
                </div>
                <div class="folder-buttons">
                    <button class="button primary-button">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="16"
                             height="16"
                             viewBox="0 -2 24 24"
                             fill="currentColor"
                             class="icon icon-tabler icons-tabler-filled icon-tabler-eye">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M12 4c4.29 0 7.863 2.429 10.665 7.154l.22 .379l.045 .1l.03 .083l.014 .055l.014 .082l.011 .1v.11l-.014 .111a.992 .992 0 0 1 -.026 .11l-.039 .108l-.036 .075l-.016 .03c-2.764 4.836 -6.3 7.38 -10.555 7.499l-.313 .004c-4.396 0 -8.037 -2.549 -10.868 -7.504a1 1 0 0 1 0 -.992c2.831 -4.955 6.472 -7.504 10.868 -7.504zm0 5a3 3 0 1 0 0 6a3 3 0 0 0 0 -6z" />
                        </svg>
                    </button>
                    <button class="button primary-button">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="16"
                             height="16"
                             viewBox="0 0 24 24"
                             fill="currentColor"
                             class="icon icon-tabler icons-tabler-filled icon-tabler-pin">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M15.113 3.21l.094 .083l5.5 5.5a1 1 0 0 1 -1.175 1.59l-3.172 3.171l-1.424 3.797a1 1 0 0 1 -.158 .277l-.07 .08l-1.5 1.5a1 1 0 0 1 -1.32 .082l-.095 -.083l-2.793 -2.792l-3.793 3.792a1 1 0 0 1 -1.497 -1.32l.083 -.094l3.792 -3.793l-2.792 -2.793a1 1 0 0 1 -.083 -1.32l.083 -.094l1.5 -1.5a1 1 0 0 1 .258 -.187l.098 -.042l3.796 -1.425l3.171 -3.17a1 1 0 0 1 1.497 -1.26z" />
                        </svg>
                    </button>
                    <div class="drop-menu-container">
                        <button class="drop-menu-btn button transparent-button" onclick="toggleMenu(this)">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="16"
                                 height="16"
                                 viewBox="0 -2 24 24"
                                 fill="none"
                                 stroke="currentColor"
                                 stroke-width="2"
                                 stroke-linecap="round"
                                 stroke-linejoin="round"
                                 class="icon icon-tabler icons-tabler-outline icon-tabler-dots">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M5 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                <path d="M19 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                            </svg>
                        </button>
                        <div class="drop-menu" id="drop-menu">
                            <ul>
                                <li><a href="#">Edit</a></li>
                                <li><a href="#" class="Delete">Delete</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script src="~/js/customSelectInteractive.js"></script>
<script src="~/js/dialog.js"></script>
<script src="~/js/folderFilters.js"></script>
<script src="~/js/drop-menu.js"></script>