/* button style */

.button {
    width: auto;
    font-size: 16px;
    font-weight: 500;
    padding: 0.7em 1em;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.primary-button {
    background-color: var(--primary-color);
    color: var(--text-button-color);
}

.transparent-button {
    background-color: transparent;
    color: var(--text-color);
}

.primary-button:hover {
    background-color: var(--primary-button-hover);
}

.transparent-button:hover {
    background-color: var(--second-background);
    color: var(--text-color);
}
