@{
    ViewData["Title"] = "Settings";
    Layout = "_LayoutHome";

}
<div class="text-center">
    <h1>User Settings</h1>
    <div class="settings">
        <input class="input-text" type="text" placeholder="@ViewBag.User.Nickname" />
        <input class="input-text" type="email" placeholder="@ViewBag.User.Email" />
        <div class="setting-password">
            <input class="input-text" type="password" placeholder="New password" />
            <input class="input-text" type="password" placeholder="Confim new password" />
        </div>
        
        <input class="input-text" type="file" />
        <div class="setting-buttons">
            <button class="button primary-button">Save</button>
            <button class="button primary-button">Cancel</button>
        </div>
    </div>
</div>