@{
    ViewData["Title"] = "Settings";
    Layout = "_LayoutHome";

}
<link rel="stylesheet" href="~/css/viewStyle/userSettingStyle.css" />
<div class="text-center">
    <h1>User Settings</h1>
    <div class="setting">
        <input class="input-text" type="text" placeholder="Nickname" />
        <input class="input-text" type="password" placeholder="Password" />
        <input class="input-text" type="email" placeholder="Email" />
        <input class="input-text" type="file" />
        <div class="setting-buttons">
            <button class="button primary-button">Save</button>
            <button class="button primary-button">Cancel</button>
        </div>
    </div>
</div>