/* button style */

.button {
    width: auto;
    font-size: 16px;
    font-weight: 500;
    padding: 0.7em 1em;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.button:disabled {
    cursor: default;
}

.primary-button {
    background-color: var(--primary-color);
    color: var(--text-button-color);
}

.transparent-button {
    background-color: transparent;
    color: var(--unselect-text);
}

.primary-button:hover {
    background-color: var(--primary-button-hover);
}

.primary-button:disabled:hover {
    background-color: var(--primary-color);
}

.btn-transparent-primary:hover {
    color: var(--primary-color);
}

.btn-transparent-red:hover {
    color: var(--delete-color);
}

.btn-transparent-blue:hover {
    color: var(--edit-color);
}
