.input {
    padding: 20px;
    width: 100%;
}

.input-message {
    width: auto;
    font-size: 14px;
    color: var(--error-color);
    padding-left: 5px;
}


.input-text,
.input-error,
.input-correct {
    width: 100%;
    background-color: var(--textbox-background);
    color: var(--text-color);
    font-size: 16px;
    padding: 0.7em 1em;
    border-radius: 4px;
    border: solid 2px var(--second-background);
}


.input-text::placeholder,
.input-error::placeholder,
.input-correct::placeholder {
    color: var(--unselect-text);
}

.input-text:focus,
.input-error:focus,
.input-correct:focus {
    outline: none;
    border: 2px solid;
}

.input-text:focus {
    border-color: var(--primary-color);
}

.input-error {
    border-color: var(--error-color); 
}

.input-error:focus {
    border-color: var(--error-color-focus);
}

.input-correct {
    border-color: var(--correct-color);
}

.input-correct:focus {
    border-color: var(--correct-color-focus);
}

input[type="button"] {
    width: auto;
    font-size: 16px;
    font-weight: 500;
    padding: 0.7em 1em;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

input[type="file"] {
    color: var(--unselect-text);
    background-color: var(--textbox-background);
}

input[type="file"]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: var(--second-background);
    padding: 10px 20px;
    border-radius: 4px;
    color: var(--text-color-light);
    cursor: pointer;
}

input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--background);
    border: 2px solid var(--second-background);
    border-radius: 8px;
    height: auto;
    width: 55px;
    justify-content: center;
    aspect-ratio: 1 / 1;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 13px;
    border: none;
}

input[type="color"]::-webkit-color-swatch {
    border-radius: 50%;
    border: none;
}
