@using DTOs;
@model UserDto;
@{
    ViewData["Title"] = "User Settings";
    Layout = "_LayoutHome";
}

<div class="user-setting">
    <h1>User Settings</h1>
    <form asp-controller="UserSettings" asp-action="UpdateUser" method="post">
        <div class="settings">
            <h3>Nickname:</h3>
            <div class="input">
                <input id="nickname" class="input-text" type="text"  max=15 placeholder="@ViewBag.User.Nickname   (max. 15 characters) " asp-for="Nickname" />
                <div id="nicknameMessage" class="input-message" role="alert"></div>
            </div>
            <h3>Email:</h3>
            <div class="input">
                <input class="input-text" type="email" value="@ViewBag.User.Email" asp-for="Email" readonly />
                <div id="emailMessage" class="input-message" role="alert"></div>
            </div>
            <h3>Password:</h3>
            <div class="setting-password">
                <div class="input">
                    <input id="password" class="input-text" type="password" placeholder="New password" asp-for="Password" />
                    <div id="passwordMessage" class="input-message" role="alert"></div>
                </div>
                <div class="input">
                    <input id="confirmPassword" class="input-text" type="password" placeholder="Confim new password" />
                    <div id="confirmPasswordMessage" class="input-message" role="alert"></div>
                </div>
            </div>
            <!--
                <h3>Picture:</h3>
                <input class="input-text" type="file" />
                -->
            <div class="delete-account">
                <a href="#" onclick="WarningPopUp(event, '/UserSettings/DeleteUser', 'Delete user','Are you sure to delete your account?, this will also delete all your folders.')">Delete Account</a>
            </div>
            <div class="setting-buttons">
                <button class="button primary-button" id="submitButton" type="submit" disabled>Save changes</button>
            </div>
        </div>
    </form>
</div>

<script src="~/js/BasicScript/warningPopUp.js"></script>
<script type="module" src="~/js/ViewScript/UserSettingsViewScript.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
