@using DTOs;
@model UserDto;
@{
    ViewData["Title"] = "User Settings";
    Layout = "_LayoutHome";
}

<div class="user-setting">
    <h1>User Settings</h1>
    <form asp-controller="UserSettings" asp-action="UpdateUser" method="post">
        <div class="settings">
            <h3>Nickname:</h3>
            <div class="input">
                <input id="nickname" class="input-text" type="text" maxlength=15 autocomplete="off" placeholder="@ViewBag.User.Nickname" asp-for="Nickname" />
                <div id="nicknameMessage" class="input-message" role="alert"></div>
            </div>
            <h3>Email:</h3>
            <div class="input">
                <input class="input-text" type="email" maxlength="100" value="@ViewBag.User.Email" asp-for="Email" readonly />
                <div id="emailMessage" class="input-message" role="alert"></div>
            </div>
            <h3>Password:</h3>
            <div class="setting-password">
                <div class="input">
                    <div class="input-password">
                        <input id="password" class="input-text" type="password" maxlength="10" placeholder="New password" asp-for="Password" />
                        <button id="showPassword" class="view-password" type="button">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="24"
                                 height="24"
                                 viewBox="0 0 24 24"
                                 fill="none"
                                 stroke="currentColor"
                                 stroke-width="2"
                                 stroke-linecap="round"
                                 stroke-linejoin="round"
                                 class="icon icon-tabler icons-tabler-outline icon-tabler-eye hidden-svg">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                                <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="24"
                                 height="24"
                                 viewBox="0 0 24 24"
                                 fill="none"
                                 stroke="currentColor"
                                 stroke-width="2"
                                 stroke-linecap="round"
                                 stroke-linejoin="round"
                                 class="icon icon-tabler icons-tabler-outline icon-tabler-eye-off">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M10.585 10.587a2 2 0 0 0 2.829 2.828" />
                                <path d="M16.681 16.673a8.717 8.717 0 0 1 -4.681 1.327c-3.6 0 -6.6 -2 -9 -6c1.272 -2.12 2.712 -3.678 4.32 -4.674m2.86 -1.146a9.055 9.055 0 0 1 1.82 -.18c3.6 0 6.6 2 9 6c-.666 1.11 -1.379 2.067 -2.138 2.87" />
                                <path d="M3 3l18 18" />
                            </svg>
                        </button>
                    </div>
                    <div id="passwordMessage" class="input-message" role="alert"></div>
                </div>
                <div class="input">
                    <div class="input-password">
                        <input id="confirmPassword" class="input-text" maxlength="10" type="password" placeholder="Confim new password" />
                        <button id="showConfirmPassword" class="view-password" type="button">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="24"
                                 height="24"
                                 viewBox="0 0 24 24"
                                 fill="none"
                                 stroke="currentColor"
                                 stroke-width="2"
                                 stroke-linecap="round"
                                 stroke-linejoin="round"
                                 class="icon icon-tabler icons-tabler-outline icon-tabler-eye hidden-svg">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                                <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="24"
                                 height="24"
                                 viewBox="0 0 24 24"
                                 fill="none"
                                 stroke="currentColor"
                                 stroke-width="2"
                                 stroke-linecap="round"
                                 stroke-linejoin="round"
                                 class="icon icon-tabler icons-tabler-outline icon-tabler-eye-off">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M10.585 10.587a2 2 0 0 0 2.829 2.828" />
                                <path d="M16.681 16.673a8.717 8.717 0 0 1 -4.681 1.327c-3.6 0 -6.6 -2 -9 -6c1.272 -2.12 2.712 -3.678 4.32 -4.674m2.86 -1.146a9.055 9.055 0 0 1 1.82 -.18c3.6 0 6.6 2 9 6c-.666 1.11 -1.379 2.067 -2.138 2.87" />
                                <path d="M3 3l18 18" />
                            </svg>
                        </button>
                    </div>
                    <div id="confirmPasswordMessage" class="input-message" role="alert"></div>
                </div>
            </div>
            <!--
                <h3>Picture:</h3>
                <input class="input-text" type="file" />
                -->
            <div class="delete-account">
                <a href="#" onclick="WarningPopUp(event, '', '/UserSettings/DeleteUser', 'Delete user','Are you sure to delete your account?, this will also delete all your folders.')">Delete Account</a>
            </div>
            <div class="setting-buttons">
                <button class="button primary-button" id="submitButton" type="submit" disabled>Save changes</button>
            </div>
        </div>
    </form>
</div>

<script src="~/js/BasicScript/warningPopUp.js"></script>
<script type="module" src="~/js/ViewScript/UserSettingsViewScript.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
