/*Light mode*/
/*
:root {
    --background-color: #5b6677;
    --sidebar-background: #fff;
    --text-color-light: #757575;
    --hover-background: #f6f6f6;
    --text-color-dark: #000;
    --pinFile-color: #5fffc7;
}
*/


/*Dark mode*/
:root {
    --primary-color: #1e1e1e; /*Background*/
    --second-color: #2c2c2c; /* Topbar and Sidebar*/
    --text-color-light: #e0e0e0;
    --text-color-secondary: #b0b0b0;
    --hover-background: #3a3a3a;
    --text-color-dark: #ffffff;
    --pinFile-color: #5fffc7;
}
