@using Entities;
@model UserDto;
@{
    ViewData["Title"] = "Login";
    Layout = null;
}


<html>
    <head>
        <title>Sign in</title>
        <link rel="stylesheet" href="~/css/BasicStyle/componentsStyle.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/ViewStyle/formStyle.css" asp-append-version="true" />
    </head>
    <body>
        <div class="form">
            <h1>Sign in</h1>

            <form asp-controller="Access" asp-action="Login" method="post">
                <!-- todavia falta agregar los estilos, este form es por ahora para testing -->
                <input
                    class="input-text"
                    type="email"
                    placeholder="Correo"
                    asp-for="Email"
                />

                <input
                    class="input-text"
                    type="password"
                    placeholder="Password"
                    asp-for="Password"
                />
                @if (ViewData["Message"] != null)
                {
                    <div class="error-message">
                        @ViewData["Message"]
                    </div>  
                }
                
                <div class="form">
                    <button class="button primary-button" type="submit">Sign in</button>
                    <p>
                        ¿No tienes una cuenta?
                        <a asp-controller="Access" asp-action="Register">Sign up</a>
                    </p>
                </div>
            </form>
        </div>
    </body>
</html>


